<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciselne Funkcie</title>
</head>
<body>
    <form method="post">
    {% csrf_token %}
    <div class="cislo">
        <label for="a">A:</label> <input type="number" name="a">
    </div>
    <div class="cislo">
        <label for="b">B:</label> <input type="number" name="b">
    </div>
    <input type="submit">
    </form>
    <h2>{{vacsie}}</h2>
    <h2>Cislo a je {{parneA}}</h2>
    <h2>Cislo b je {{parneB}}</h2>
    <h2>Cislo a {{prvoA}}</h2>
    <h2>Cislo b {{prvoB}}</h2>
</body>
</html>